{% extends 'base/base.html.twig' %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block body %}
    <time class="text-sm opacity-60">
        {{ page.updatedAt|format_datetime('full', 'none', locale='pl') }}
    </time>
    <h1 id="page-title">
        {{ page.title }}
    </h1>
    {% if page.tags is not empty %}
        <div class="tags mb-7 flex flex-wrap gap-3">
            {% for tag in page.tags %}
                <a href="#{{ tag }}" class="bg-gray-500 border opacity-50 bg-opacity-20 border-gray-500 px-3">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}

    <div id="page-content">
        {{ page.content|raw }}
    </div>
{% endblock %}
