{% extends 'admin/panel.html.twig' %}

{% block title %}
    Edytuj : {{ page.title }}
{% endblock %}

{% block body %}

    {{ form_start(form,{'attr':{'class':'form-control w-full'}}) }}

    <div class="flex w-full gap-8 mb-8">
        <div class="grow font-extrabold ">
            {{ form_widget(form.title,{'attr':{'class':'w-full text-xl','placeholder' :'Tytuł strony'}}) }}
        </div>
        <div class="flex gap-3">
            <a class="button" href="{{ path('admin_page_index') }}">Powrót</a>
            <a class="button" href="">
                <i class="ph-eye-bold scale-150 mr-3"></i> Podgląd
            </a>
            <button class="button button--info">Zapisz</button>
        </div>
    </div>

    <div class="flex gap-8">
        <div class="w-4/6 grow">
            {{ form_widget(form.content) }}
        </div>
        <div class="w-2/6 flex flex-col">
            {{ form_row(form.author) }}
            {{ form_row(form.category) }}
            {{ form_row(form.redirectUrl) }}
            <div class="flex gap-5">
                {{ form_row(form.promoted) }}
                {{ form_row(form.published) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}


{% endblock %}
