{% extends 'admin/panel.html.twig' %}

{% block title %}
    Lista - {{ get_crud_name() }}
{% endblock %}


{% block body %}

    <div>
        <div class="flex w-full mb-3">

            {{ form_start(form,{'attr':{'class':'form-control w-full'}}) }}
            <div class="flex  focus-within:drop-shadow-lg transition w-full ring-inset">
                {% for formElement in form %}

                    {% if formElement.vars.block_prefixes[1] == 'submit' %}
                        {% set classes = ['button', 'button--success', 'button--add' ,'no-round-right'] %}
                    {% else %}
{#                    {% elseif formElement.vars.block_prefixes[1] == 'text' %}#}
                        {% set classes = ['animated-text-input','no-round'] %}
                    {% endif %}

                    {% if formElement.vars.block_prefixes[1] != 'hidden' %}
                        {{ form_widget(formElement,{'attr':{'class':classes|join(' ')}}) }}
                    {% endif %}

                {% endfor %}
            </div>
            {{ form_end(form) }}
        </div>


        <div class="overflow-x-auto">
            {{ tr_table_render(table, 'w-full table') }}
        </div>
    </div>
{% endblock %}
