{% extends 'admin/panel.html.twig' %}

{% block title %}
    Edytuj : {{ page.title }}
{% endblock %}
{% block header %}
    Edytuj : {{ page.title }}
{% endblock %}

{% block body %}
    {{ include('admin/page/_form.html.twig',{button_label: 'Zapisz'}) }}

    <a class="button" href="{{ path('admin_page_index') }}">Powrót</a>

    {{ include('admin/page/_delete_form.html.twig') }}
{% endblock %}
