{% extends 'admin/panel.html.twig' %}

{% block title %}
    - Page / {{ page.title }}
{% endblock %}

{% block body %}
    <h1>Page</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ page.content }}</td>
            </tr>
            <tr>
                <th>RedirectUrl</th>
                <td>{{ page.redirectUrl }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ page.slug }}</td>
            </tr>
            <tr>
                <th>Promoted</th>
                <td>{{ page.promoted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ page.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_page_index') }}">back to list</a>

    <a href="{{ path('app_admin_page_edit', {'id': page.id}) }}">edit</a>

    {{ include('admin/page/_delete_form.html.twig') }}
{% endblock %}
